* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: rgb(241, 205, 45);
}

section {
    padding-bottom: 60px;
}

article {
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    display: flex;
}

.no-flex-on-the-children {
    justify-content: space-between;
}

.equally-spaced {
    justify-content: space-evenly;
    gap: 12px;
}

.equally-spaced div {
    width: 100%;
}

.one-element-bigger {
    justify-content: space-evenly;
    gap: 12px;
}

.one-element-bigger div {
    width: 50%;
}

.one-element-bigger div:nth-child(1) {
    width: 100%;
}

.one-element-bigger-one-even-bigger {
    justify-content: space-evenly;
    gap: 12px;
}

.one-element-bigger-one-even-bigger div {
    width: 25%;
}

.one-element-bigger-one-even-bigger div:nth-child(1) {
    width: 50%;
}

.one-element-bigger-one-even-bigger div:nth-child(2) {
    width: 100%;
}

div {
    background-color: rgb(2, 100, 190);
    color: white;
    border-radius: 6px;
    padding: 10px;
}
