* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    margin: 1rem;
}

header {
    position: fixed;
    background-color: palevioletred;
    color: white;
    padding: 0.2rem 1rem 0.2rem;
    border-radius: 0.5rem;
    right: 1rem;
    left: 1rem;
}

main {
    position: fixed;
    overflow-y: auto;
    background-color: rgb(241, 205, 45);
    padding: 0.2rem 1rem 0.2rem;
    border-radius: 0.5rem;
    inset: 8rem 1rem 4.5rem;
    display: flex;
    gap: 1rem;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0 1rem;
}

.section {
    padding: 1rem;
    border-radius: 0.75rem;
}

.section.blue {
    background: #1406ce;
    color: white;
    flex: 2;
}

.section.green {
    background: #0abd81;
    flex: 1;
}

.section.lightblue {
    background: #30b6e7;
}

aside {
    display: flex;
    padding: 1rem 0 1rem;
    border-radius: 0.75rem;
    width: 50%;
}

code {
    color: rgb(5, 5, 209);
}

p {
    font-size: 1.1rem;
}

footer {
    position: fixed;
    background-color: blueviolet;
    color: white;
    padding: 0.4rem 1rem 0.4rem;
    border-radius: 0.5rem;
    right: 1rem;
    left: 1rem;
    bottom: 1rem;
}
