:root {
  --body-bg: #fddcd2;

  --header-bg: #222222;
  --header-text: #fda8eb;

  --main-bg: #fddcd2;
  --main-text: #222222;
  --main-title-bg: #fda8eb;

  --card-bg: #a1ff367b;
  --card-text: #201e1d;
}
